:root {
    --clr-dark: #070a13;
    --clr-light: #f1f5f9;
    --clr-slate400: #94a3b8;
    --clr-slate600: #475569;
    --clr-slate800: #1e293b;
    --clr-rose: #e11d48;
}
html {
    scroll-behavior: smooth;
}

body, .toDoList{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
    background-color: var(--clr-dark);
    text-align: center;

}



.addButton, .delete-button, .moveup-button, .movedown-button{
    margin: 5px;
    height: 26px;
    transition: transform 0.3, box-shadow 0.3s;
    cursor: pointer;
    padding: 0.5em, 0;
    border-radius: 6px;
}

.moveup-button, .movedown-button{
    width: 176px;
}

.addButton, .delete-button{
    width: 76px;
    background-color: var(--clr-rose);
    color: var(--clr-light);
    transition: transform 0.3s, box-shadow 1;
}
.addButton:hover, .delete-button:hover, .moveup-button:hover, .movedown-button:hover{
    transform: translateY(-3px);
}


.text, .orderedList, .title{
    color: var(--clr-light);
    text-align:center;
    font-size: 1.5rem;

}
.text{
    margin-right: 5px;
}
ol{
    margin-left: 10px;
}
li{
    border: 2px solid var(--clr-slate400);
    border-radius: 8px;
    margin: 10px;
    width: 750px;
    height: auto;
    text-align: center;
    background-color: var(--clr-slate800);
}
